.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  margin: 0 auto;
  gap: 35px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.signup-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid black;
    max-width: 500px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

button {
    padding: 15px 30px;
    outline: none;
    border: 1px solid black;
}
