.our-story {
  font-size: 0.95em; /* Adjust the font size for better readability */
  line-height: 1.5; /* Adjust the line height for better vertical spacing */
  text-align: center; /* Center the text horizontally */
  color: var(--primary-color);
  max-width: 60%;  /* Set a max-width to control text width and keep it readable */
  margin: 0 auto; /* Center the element within its parent container horizontally */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  .our-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
