/* Default styles for larger screens (three columns) */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: none;
  border: 1px solid black;
  font-family: arial;
  cursor: pointer;
  padding: 4%;
}

.product-card img {
  width: 100%;
  height: 180px;
}

.product-title {
  padding: 22px;
  line-height: 1.2;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.product-description {
  padding: 10px;
  max-lines: 2;
}

.product-price {
  padding: 10px;
  font-size: 16px;
  margin-left: auto;
}

.wishlist-icon {
  margin-right: auto;
  padding: 10px;
}

.wishlist-icon {
  cursor: pointer;
}

.add-to-cart-button {
  background-color: lightseagreen;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.failed {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.failed-link {
  color: black;
  border: 1px solid black;
  padding: 11px 20px;
  font-size: 0.8em;
  text-decoration: none;
  animation: color-change 5s infinite;
}

/* define the @keyframes rule */
@keyframes color-change {
  0% {
    background-color: lightgrey;
  }
  25% {
    background-color: pink;
  }
  50% {
    background-color: lightblue;
  }
  75% {
    background-color: lightgreen;
  }
  100% {
    background-color: lightgrey;
  }
}

/* Media query for screens with a maximum width of 600px (typical for mobile devices) */
@media only screen and (max-width: 768px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card {
    /* Adjust styles for smaller screens */
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .product-title {
    font-size: 1.3rem;
  }

  .product-description {
    font-size: 0.9rem;
  }

  .product-price {
    font-size: 1.3rem;
  }

  .add-to-cart-button {
    padding: 8px 16px;
  }
}
