.vision-mission {
  font-size: 0.95em; /* Adjust the font size for better readability */
  line-height: 1.5; /* Adjust the line height for better vertical spacing */
  text-align: center; /* Center the text horizontally */
  color: var(--primary-color);
  max-width: 60%;  /* Set a max-width to control text width and keep it readable */
  margin: 0 auto; /* Center the element within its parent container horizontally */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  gap: 50px;
}

.vision-mission-heading {
  font-size: 1.5em;
}


@media screen and (max-width: 768px) {
  .vision-mission {
    font-size: 0.95em; /* Adjust the font size for better readability */
    line-height: 1.5; /* Adjust the line height for better vertical spacing */
    text-align: center; /* Center the text horizontally */
    color: var(--primary-color);
    max-width: 85%; /* Set a max-width to control text width and keep it readable */
    margin: 0 auto; /* Center the element within its parent container horizontally */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 50px;
  }
  
.vision-mission-heading {
  font-size: 1.5em;
}

}