.products {
  display: flex;
  margin: auto 0;
  flex-direction: row; /* Change to column for mobile screens */
  align-items: center;
  justify-content: center;
  /* Center horizontally */
  min-height: 100vh;
  gap: 7%;
}

.product-card {
  width: 100%; /* Take full width on mobile screens */
  max-width: 400px; /* Adjust this value as needed */
  padding: 20px;
  box-sizing: border-box;
}

.product-details {
  width: 100%; /* Take full width on mobile screens */
  max-width: 400px; /* Adjust this value as needed */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-to-cart-button {
  background-color: rgb(36, 238, 238);
  padding: 12px;
  color: black;
  border-radius: 4px;
  width: 90%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add a transition for background color and box shadow */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}

.add-to-cart-button:hover {
  background-color: greenyellow; /* Change the background color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.add-to-wishlist-button {
  background-color: lightblue;
  padding: 12px;
  color: black;
  border-radius: 4px;
  width: 90%;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Add a transition for background color and box shadow */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}

.add-to-wishlist-button:hover {
  background-color: greenyellow; /* Change the background color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media query for small screens (adjust the breakpoint as needed) */
@media (max-width: 768px) {
  .products {
    flex-direction: column; /* Change to column for small screens */
    justify-content: center; /* Center vertically */
  }

  .product-card,
  .product-details {
    width: 100%; /* Take full width on small screens */
    max-width: none; /* Reset max-width */
  }
}
