.about-us {
  /* Set the display property to flex */
  display: flex;
  min-height: 100vh;
  /* Align the items horizontally in the center */
  justify-content: center;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  /* Set a fixed width for the content */
  width: 800px;
}

.about-us-heading {
    color: black;
}

.about-us-paragraph {
    /* Align the text to the center */
    text-align: center;
    /* Set the left and right margin to auto */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    /* Optionally, you can also set a fixed width for the paragraph */
    width: 700px;
  }
  