.contact-us {
  /* Set the display property to flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%; /* Set a max-width to control text width and keep it readable */
  margin: 0 auto;
  min-height: 100vh;
  gap: 10px;
}

.contact-us-name-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  gap: 10px;
} 

.contact-us-heading {
  margin-top: 5%;
  margin-bottom: 5%;
  color: gray;
}

.contact-us-name {
  border: 1px solid black;
  border-radius: none;
  outline: none;
  width: 100%;
  padding: 1.5%;
}

.contact-us-email {
  border: 1px solid black;
  border-radius: none;
  outline: none;
  padding: 1.5%;
  width: 100%;
}

.contact-us-phone {
  border: 1px solid black;
  border-radius: none;
  outline: none;
  padding: 1.5%;
  width: 100%;
}

.contact-us-textarea {
  border: 1px solid black;
  border-radius: none;
  outline: none;
  width: 100%;
}

.contact-us-sendmessage {
  padding: 12px;
  text-align: center;
  border: 1px solid black;
  background-color: lightgrey;
  width: 100%;
  transition: none;
  cursor: pointer;
  /* add the animation property */
  /* add the box-shadow property */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: color-change 5s infinite;
}

/* define the @keyframes rule */
@keyframes color-change {
  0% {
    background-color: lightgrey;
  }
  25% {
    background-color: pink;
  }
  50% {
    background-color: lightblue;
  }
  75% {
    background-color: lightgreen;
  }
  100% {
    background-color: lightgrey;
  }
}
@media screen and (max-width: 768px) {
  .contact-us {
    /* Set the display property to flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%; /* Set a max-width to control text width and keep it readable */
    margin: 0 auto;
    min-height: 100vh;
    gap: 10px;
  }
  .contact-us-name-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .contact-us-name {
    border: 1px solid black;
    border-radius: none;
    outline: none;
    width: 100%;
    padding: 2%;
  }
  
  .contact-us-email {
    border: 1px solid black;
    border-radius: none;
    outline: none;
    padding: 2%;
    width: 100%;
  }
  

  .contact-us-phone {
    border: 1px solid black;
    border-radius: none;
    outline: none;
    width: 100%;
    padding: 2%;
  }

  .contact-us-textarea {
    border: 1px solid black;
    border-radius: none;
    outline: none;
    width: 100%;
    padding: 4%;
  }

  .contact-us-sendmessage {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    background-color: lightgrey;
    width: 100%;
    transition: none;
    cursor: pointer;
    /* add the animation property */
    /* add the box-shadow property */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: color-change 5s infinite;
  }

  /* define the @keyframes rule */
  @keyframes color-change {
    0% {
      background-color: lightgrey;
    }
    25% {
      background-color: pink;
    }
    50% {
      background-color: lightblue;
    }
    75% {
      background-color: lightgreen;
    }
    100% {
      background-color: lightgrey;
    }
  }
}
