.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 17px 25px;
    background-color: lightseagreen;
    color: black;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

li:hover {
    cursor: pointer;
}

.header-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
    gap: 8px;
    color: black;
    text-decoration: none;
}

.header-icons {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    gap: 15px;
}