.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  animation: color-change 5s infinite;
}

/* define the @keyframes rule */
@keyframes color-change {
  0% {
    background-color: lightgrey;
  }
  25% {
    background-color: pink;
  }
  50% {
    background-color: lightblue;
  }
  75% {
    background-color: lightgreen;
  }
  100% {
    background-color: lightgrey;
  }
}

.menu-icon {
  display: flex;
  font-size: 26px;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 85%;
  height: 100vh;
  background-color: white;
  z-index: 5;
  padding: 12px 0px;
  border-top: 1px solid gray;
  overflow-y: auto;
  transition: transform 1s linear;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.wishlistImage,
.shoppingbag {
  position: relative;
  
}

.wishlistImage:hover,
.shoppingbag:hover {
  cursor: pointer;

}
.wishlistCount {
  position: absolute;
  top: 10%;
  right: 3%;
  z-index: 2;
  font-size: 14px;
  padding: 2px 6px; border-radius: 50%;
  border-radius: 50%;
  font-size: 12px;
  background-color: papayawhip;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.shoppingbagCount {
  position: absolute;
  top: 10%;
  right: 0.5%;
  z-index: 2;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  background-color: papayawhip;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.nav ul:hover {
  color: gray;
}

.nav ul li a {
  text-decoration: none;
}

.nav ul li img {
  width: 20px;
  height: 20px;
}

.nav.open {
  transform: translateX(0);
  animation: open-nav 1s linear;
}

.nav.closed {
  transform: translateX(-100%);
}

@keyframes open-nav {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  wishlistImage,
.shoppingbag {
  position: relative;
}
.wishlistCount {
  position: absolute;
  top: 10%;
  right: 7%;
  z-index: 2;
  font-size: 14px;
  padding: 2px 6px; border-radius: 50%;
  border-radius: 50%;
  font-size: 12px;
  background-color: papayawhip;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.shoppingbagCount {
  position: absolute;
  top: 10%;
  right: 1%;
  z-index: 2;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  background-color: papayawhip;
  border: 1px solid black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
}
