.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 17px 25px;
  background-color: lightseagreen;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

li:hover {
  cursor: pointer;
}

.header-links {
  text-decoration: none;
  color: black;
}

.header-links:hover {
  border-bottom: 1px solid black;
}

.header-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 26px;
  gap: 8px;
  color: black;
  text-decoration: none;
}

.header-icons {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  gap: 15px;
}

.dropdown {
  position: relative;
  display: flex;
  width: 200px;
  flex-direction: column;
  border-radius: 0px;
  border: 1px solid black;
  padding: 12px;
  gap: 5px;
  justify-content: center;
  margin: 0 41%;
  background-color: darkcyan;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  border: 1px solid black;
  z-index: 1;
}

.search-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 68px;
  width: 100%;
  z-index: 10;
  background-color: white;
  padding: 10px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: search-container-show 0.2s ease-in-out;
}

@keyframes search-container-show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Stack elements vertically */
    text-align: center; /* Center-align text in the header */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}



