.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.remove-from-cart {
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.cart-footer {
  padding: 10px;
}

.checkout-button {
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
}
