.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input {
    outline: none;
    padding: 10px 8px;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;    
}

.search-button {
    padding: 15px 25px;
    background-color: lightskyblue;
    border-left: none;
}

.search-dropdown {
    border: 1px solid black;
    font-weight: bold;
    padding: 6px 4px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    text-decoration: none;
}

.search-dropdown:hover {
    background-color: rgb(238, 237, 237);
    cursor: pointer;
}