.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.searchInput {
    outline: none;
    padding: 10px 8px;
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;    
}

.search-button {
    padding: 15px 25px;
    background-color: lightskyblue;
    border-left: none;
}


.search-dropdown {
    border: 1px solid black;
    font-weight: bold;
    padding: 12px 8px;
    width: 100%; /* Set the width to 100% to take the full available width */
    min-width: 100%; /* Ensure a minimum width of 100% */
   margin: 0;
    background-color:white;
    text-decoration: none;

}

.search-dropdown:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}